.post-content .highlight pre {
  border-radius: var(--radius);
}

:root {
  --main-width: 980px;
  --nav-width: var(--main-width);
}

/* Large desktop */
@media (min-width: 1200px) {
  :root {
    --main-width: 1200px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  :root {
    --main-width: 768px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  :root {
    --main-width: 767px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  :root {
    --main-width: 480px;
  }
}
