:root {
  --hljs-bg: unset;
}

.dark {
  --hljs-bg: unset;
}

:root {
  --main-width: 980px;
}

/* Large desktop */
@media (min-width: 1200px) {
  :root {
    --nav-width: 1280px;
    --main-width: 1200px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  :root {
    --main-width: 768px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  :root {
    --main-width: 767px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  :root {
    --main-width: 480px;
  }
}
