.links {
  --link-count-per-row: 1;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .links {
    --link-count-per-row: 2;
  }
}

@media screen and (min-width: 980px) {
  .links {
    --link-count-per-row: 3;
  }
}

.links {
  display: grid;
  grid-template-columns: repeat(var(--link-count-per-row), 1fr);
  grid-gap: 16px;
  white-space: nowrap;
}

.link {
  border-radius: var(--radius);
  overflow: hidden;
  padding: 8px;
  background: var(--entry);
  display: flex;
  align-items: center;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.link:hover .link-name {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 2s ease-in-out infinite;
  background-size: 400% 100%;
}

.link-avatar {
  object-fit: cover;
  width: 64px;
  height: 64px;
  margin: 0 8px !important;
  border-radius: 50% !important;
}

.link-content {
  margin-left: 16px;
  overflow: hidden;
}

.link-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link-description {
  font-size: 0.8rem;
  color: var(--secondary);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link-add-friend:hover .link-avatar {
  animation: heartBeat 1.5s infinite;
}
.link-add-friend:hover .link-name {
  text-align: center;
  animation: heartBeat 1.5s infinite;
}
