{{- define "main" }}

<header class="page-header">
  <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}</h1>
</header>

<div class="photo-container">
  {{ range os.ReadDir "static/photos" }} {{ if not .IsDir}}
  <div class="photo-item">
    <a
      href="https://fissssssh.aiur.site/photos/{{ .Name }}"
      target="_blank"
    >
      <img src="{{ .Name }}" />
    </a>
  </div>
  {{ end }} {{ end }}
</div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
  onLoadComplete(() => {
    var msnry = new Masonry(".photo-container", {
      itemSelector: ".photo-item",
      columnWidht: ".photo-item",
      gutter: 8,
    });
  });
  var timer;
  function onLoadComplete(callback) {
    console.log("check load");
    let imgs = Array.from(document.querySelectorAll(".photo-item img"));
    // not load complete
    if (imgs.some((img) => img.height === 0)) {
      timer = setTimeout(() => {
        onLoadComplete(callback);
      }, 500);
    } else {
      if (timer) {
        clearTimeout(timer);
      }
      callback();
    }
  }
</script>
{{- end }}
