<script>
  // reference: https://github.com/utterance/utterances/issues/299#issuecomment-626125665
  (function () {
    let theme = localStorage.getItem("pref-theme");
    // already has prefer theme
    if (theme) {
      theme = theme === "dark" ? "github-dark" : "github-light";
    }
    // auto detected
    else {
      theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "github-dark"
        : "github-light";
    }
    const comment = document.createElement("script");
    comment.src = "https://utteranc.es/client.js";
    comment.crossorigin = "anonymous";
    comment.async = true;
    comment.setAttribute("repo", "fissssssh/fissssssh.github.io");
    comment.setAttribute("issue-term", "pathname");
    comment.setAttribute("label", "Comment");
    comment.setAttribute("theme", theme);
    document.body.appendChild(comment);
  })();
</script>
